form.signup,
form.login {
  margin-top: 50px;
}
/* Button colors */
.btn-default {
  color: whitesmoke;
  background-color: #254881;
  border-color: #254881;
}
/* Navbar colors */
.navbar-default {
  background-color: #4682b4;
  border-bottom: purple;
}
/* Top row of text like Login and Sign Up Form */
h2 {
  text-align: center;
  color: antiquewhite;
}


.row {
  background-color: black;
  background-image: url(https://wallpaperset.com/w/full/d/e/8/7662.jpg);
  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  color: antiquewhite;
}

.signup {
  color:antiquewhite;
}
 p {
  color:antiquewhite;
 }

body {
    background-image: url(https://coolbackgrounds.io/images/unsplash/josh-bean-medium-9501ba9f.jpg);
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-sm {
  padding-top: 10px;

}
.card-body {
  background-color: blanchedalmond;
  padding: 15px;
  border-radius: 15px;
  margin-inline-start: 15px;
  margin-top: 15px;
  padding-top: 20px;
  border-top: 20px;
}

.card-subtitle {
  color: black;
}

.responsive {
  width: 500px;
  height: 100px;
  text-align: center;
}

.container1 {
  background-image: url(https://i.pinimg.com/originals/68/6f/22/686f2228249a21398ad971c693b20d12.jpg);
   /* Full height */
   height: 100%; 

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.nav-item {
  text-align: end;
}

#output {
  text-align: center;
  color: black;
}


h4 {
  font-family: cursive;
  font-size: 25px;
  text-align: center;
  color: antiquewhite;
}
h5 {
  font-family: fantasy;
  font-size: 20px;
  text-align: center;
}

.member-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}

/* Luxon formatting */
 main {
  text-shadow: 2px 2px 5px #0074D9;
  border: 5px;
  }

#output {
  width: 100px;
  padding: 10px;
  border: 50px orangered;
  background-color: lightcoral;
  margin-left: auto;
  text-align: center;
  border-radius: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}